/*Body*/
body {
  display: block;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

/****HEADER****/
/*Menu*/
header {
  position: sticky;
  top: 0;
}

.menu-icon {
  width: 22px;
  line-height: 0px;
}

.logo {
  line-height: 0px;
}

.topnav {
  overflow: hidden;
  background-color: #58b46a;
}
<<<<<<< HEAD
=======

>>>>>>> 9a06d99abaf20fafc76bb909145c99b7c06caa1f

.topnav a {
 	float: left;
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 15.5px;
  max-height: 30px;
  margin-bottom: 0px;
  font-size: 16px;
}

.topnav a:hover {
	background-color: #bfddba;
}

.topnav .icon {
  display: none;
}

.active {
  background-color: #0011a5;
}

/*Responsive menu*/
@media screen and (max-width: 825px) {
	.topnav a:not(:first-child){display: none;}
  .topnav a.topnav-right{display: none;}
	.topnav a.icon {
		width: 22px;
		height: 22px;
		float: right;
		display: block;
	}
}

@media screen and (max-width: 825px) {
		.topnav.responsive {
      position: absolute;
      width: 100%;
      z-index: 1;
    }
		.topnav.responsive .icon {
		    position: absolute;
		    right: 0;
		    top: 0;
		}
		.topnav.responsive a {
		    float: none;
		    display: block;
		    text-align: left;
		}
    .topnav.responsive .topnav-right {
      float: left;
      display: inline-block;
    }
}

.icon {
	height: 22px;
}

/****MAIN GENERAL****/
.content {
  padding: 14px 16px 94px 16px;
  color: #333;
}

.two-columns {
  display: flex;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

.phone-btn {
  position: fixed;
  bottom: 44px;
  right: 15px;
  height: 110px;
  width: 50px;
}

.phone-btn img {
  width: 100%;
}

/*Index*/
.index-photo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.index-text {
  text-align: center;
}

.index-text h3 {
  margin-top: 0px;
}

.index-text h1 {
  margin-bottom: 0px;
}

.index-left {
  flex: 50%;
  padding-right: 14px;
}

.index-right {
  flex: 50%;
  padding-left: 14px;
}

/* slideshow*/
/* start på  slideshow*/



/* slut på Slideshow */

/*Responsive index*/
@media screen and (max-width: 825px) {
  .two-columns {
    flex: none;
    display: block;
  }

  .index-left {
    flex: none;
    min-height: inherit;
  }

  .index-right {
    flex: none;
    padding-left: 0px;
  }
}


/*Contact*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #76a7da;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}
/*Responsive Contact*/
@media screen and (max-width: 825px) {
  .two-columns {
    flex: none;
    display: block;
  }

  .contact-left {
    flex: none;
    height: 20vh;
    min-height: inherit;
    margin-bottom: 16px;
  }

  .contact-right {
    flex: none;
    padding-left: 0px;
  }
}


/*****FOOTER*****/
footer{
  overflow: hidden;
  position: fixed;
  bottom: 0;
  background-color: #76a7da;
  min-width: 100%;
  height: 80px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding-bottom: 15px;
  position: fixed;

  .logoface {
padding-left: 30px;}

}
