*{
  margin: 0%;
  padding: 0%;
  text-decoration: none;
}
h1{
color: #fff;
text-align: center;
}
h2{
color:#000;
text-align: center;
}
header{
  background-color: #52b768;
  width: 100%;
  height: 80px;
}
.logo {
  list-style: none;
  font-size: 38px;
  color: #8E7D69;

}
header nav ul{
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
header nav ul li{
  list-style: none;
  padding: 0px 16px;
}
header nav ul li a{
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
}

/*Lasses halløj*/
@media screen and (max-width: 750px) {
	.topnav a:not(:first-child){display: none;}
  .topnav a.topnav-right{display: none;}
	.topnav a.icon {
		width: 22px;
		height: 22px;
		float: right;
		display: block;
	}
}

@media screen and (max-width: 750px) {
		.topnav.responsive {
      position: absolute;
      width: 100%;
      z-index: 1;
    }
		.topnav.responsive .icon {
		    position: absolute;
		    right: 0;
		    top: 0;
		}
		.topnav.responsive a {
		    float: none;
		    display: block;
		    text-align: left;
		}
    .topnav.responsive .topnav-right {
      float: left;
      display: inline-block;
    }
}

.icon {
	height: 22px;
}

/*Lasses halløj*/
main {
  width: 100%;
  height: 600px;
  background-color: #f2f2f2f2;
}

footer{
  width: 100%;
<<<<<<< HEAD
  height:10%;
=======
>>>>>>> 71ddd79166280ddc2aaa4b809393034dcfb0433c
  padding: 20px 20px;
  background-color: #8e7d69;
  overflow: hidden;
  position: fixed;

}
