*{
  margin: 0%;
  padding: 0%;
  text-decoration: none;
}
.topnav {
display: none;
}

h1{
color: #fff;
text-align: center;
}
main h2{
  color: #000;
  text-align: left;
}
h2{
color:#000;
text-align: center;
}

h3{
  color: #000;
  font-weight: bold;
}
header{
  background-color:#58b46a;
  width: 100%;
  height: 100px;
}

.logobilled img{
  width: 5%;
  height: 50px;
  border-radius: 50%;

}

.logo {
  list-style: none;
  font-size: 38px;
  color: #fff;
  margin-left: 275px;
}
header nav ul{
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}
header nav ul li{
  list-style: none;
  padding: 0px 16px;
}
header nav ul li a{
  font-size: 20px;
  color: #fff;

}

.søge-box {
bottom: 90%;
left: 80%;
position: absolute;
background: #fff;
border-radius: 40px;
padding: 5px;



}

.søg-tekst {
border: none;
}


@media screen and (max-width: 750px) {
  .computer{
    display: none;
  }
  .topnav {
    display: table;
    width: 100%;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  /* Style the hamburger menu */
  .topnav a.icon {
    background-image: url("../Billeder/menu-icon.png");
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #000;

    color: black;
  }
  /* Style the active link (or home/logo) */
  .active {
    background-color: #4CAF50;
    color: white;
  }
}








/* Hoved indhold, mobil, */
main {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* Hoved indhold, computer */
/*  Footer  */
footer{
  width: 100%;
  padding: 15px 15px;
  background-color: #bfddba;
  overflow: hidden;
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  color: #535353;

}
