*{
  margin: 0%;
  padding: 0%;
  text-decoration: none;
}
.topnav {
display: none;
}

h1{
color: #fff;
text-align: center;
}
main h2{
  color: #000;
  text-align: left;
}
h2{
color:#000;
text-align: center;
}

h3{
  color: #000;
  font-weight: bold;
}
header{
  background-color:#58b46a;
  width: 100%;
  height: 100px;
}

.logobilled img{
  width: 5%;
  height: 50px;
  border-radius: 50%;
}

.Logobillede{
weight: 35px;
height: 35px;
border-radius: 50%;


}
.logo {
  list-style: none;
  font-size: 38px;
  color: #fff;
  margin-left: 275px;
}
header nav ul{
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}
header nav ul li{
  list-style: none;
  padding: 0px 16px;
}
header nav ul li a{
  font-size: 20px;
  color: #fff;

}
.søge-box {
bottom: 90%;
left: 85%;
position: fixed;
background: #fff;
border-radius: 40px;
padding: 4px;

}
.søg-tekst {
border: none;
outline: none;
}

@media screen and (max-width: 1000px) {
  .computer{
    display: none;
  }
  header{
    height: 49px;
  }
  .topnav {
    display: table;
    width: 100%;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  }
  /* Style the hamburger menu */
  .topnav a.icon {
    background-image: url("../Billeder/menu-icon.png");
    width: 17px;
    height: 22px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #000;
    color: black;
  }
  /* Style the active link (or home/logo) */
  .active {
    background-color: #58b46a;
    color: white;
  }
}








/* Hoved indhold, mobil, */
main {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* Hoved indhold, computer */
/*  Footer  */
footer{
  width: 100%;
  padding: 15px 15px;
  background-color: #bfddba;
  overflow: hidden;
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  color: #535353;

}


/*Lasse´s tilfældige forsøg på fremskridt*//
#top form {
		margin-bottom: 20px; }
	#top fieldset {
		margin-bottom: 20px; }
	#top .input-text,
	#top input[type="text"],
	#top input[type="input"],
	#top input[type="password"],
	#top input[type="email"],
	#top input[type="number"],
    #top input[type="url"],
    #top input[type="tel"],
    #top input[type="search"],
	#top textarea,
	#top select {
		 -webkit-appearance: none;
		border: 1px solid #e1e1e1;
		padding: 8px 6px;
		outline: none;
		font: 1em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff;
		border-radius: 0px;
		}

	#top input[type="text"]:focus,
	#top input[type="password"]:focus,
	#top input[type="email"]:focus,
	#top input[type="number"]:focus,
    #top input[type="url"]:focus,
    #top input[type="tel"]:focus,
    #top input[type="search"]:focus,
	#top textarea:focus {
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
 		color: #555;
		}
	#top textarea {
		min-height: 60px; line-height:1.5em;}
	#top label{
		font-weight: bold;
		font-size: 0.92em;  }
	#top legend {
		display: block;
		font-weight: normal;
		font-size: 1.2em;  }
	#top select {
		width: 100%; }
	#top input[type="checkbox"] {
		display: inline; }
	#top label span,
	#top legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

	#top textarea{width:100%;}


#top #wrap_all .valid .text_input, #top #wrap_all .valid .text_area, #top #wrap_all .valid .select{border:1px solid #9AA600;} /*#70A41B*/
#top #wrap_all .error .text_input, #top #wrap_all .error .text_area, #top #wrap_all .error .select{border:1px solid #DF653E;}
#top #wrap_all .ajax_alert .text_input, #top #wrap_all .ajax_alert .text_area, #top #wrap_all .ajax_alert .select{border:1px solid #ffb628;}
#top #wrap_all .valid  .input_checkbox_label{color:#9AA600;}
#top #wrap_all .error  .input_checkbox_label{color:#DF653E;}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
